@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100vh;
  overflow: hidden;
  perspective: 800px;
  -webkit-perspective: 800px;
}

.myNav{
	z-index: 999;
}


.container {
  position: relative;
  z-index: 0;
  height: 60vh;
  width: 60vh;
/*
  animation: float 2s linear infinite alternate;
  -webkit-animation: float 2s linear infinite alternate;
*/
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

.glow {
  background: radial-gradient(#ffffff, #ffffff 50%, #61dbdd 60%, rgba(0, 0, 0, 0) 70%);
  border-radius: 50%;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
}

.crystal, .gradients {
  position: absolute;
  top: 22.5vh;
  left: 22.5vh;
  height: 15vh;
  width: 15vh;
  transform: rotateX(75deg) rotateZ(45deg);
  -webkit-transform: rotateX(75deg) rotateZ(45deg);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.crystal {
  animation: spin 4s linear infinite;
  -webkit-animation: spin 4s linear infinite;
  -webkit-transform: rotateX(75deg) rotateZ(45deg);
}

.side {
  border: 0 solid transparent;
  opacity: 0.7;
  position: absolute;
}
.side .blur {
  position: absolute;
  height: 30vh;
  width: 15vh;
}

.top1, .top2 {
  transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
}

.top1 {
  border-color: #FFF480 transparent transparent transparent;
  border-width: 30vh 7.5vh 7.5vh 7.5vh;
  transform: rotateX(75.5deg);
  -webkit-transform: rotateX(75.5deg);
}
.top1 .blur {
  background: linear-gradient(#58B8FF, transparent 3%);
  top: -30vh;
  left: -7.5vh;
}

.top2 {
  border-color: #58B8FF transparent transparent transparent;
  border-width: 30vh 7.5vh 7.5vh 7.5vh;
  transform: rotateX(-75.5deg);
  -webkit-transform: rotateX(-75.5deg);
}

.right1, .right2 {
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
}

.right1 {
  border-color: transparent #9BCC4E transparent transparent;
  border-width: 7.5vh 30vh 7.5vh 7.5vh;
  left: -22.5vh;
  transform: rotateY(75.5deg);
  -webkit-transform: rotateY(75.5deg);
}
.right1 .blur {
  background: linear-gradient(90deg, transparent 97%, #FF5656);
  top: -7.5vh;
  left: 0;
  height: 15vh;
  width: 30vh;
}

.right2 {
  border-color: transparent #FF5656 transparent transparent;
  border-width: 7.5vh 30vh 7.5vh 7.5vh;
  left: -22.5vh;
  transform: rotateY(-75.5deg);
  -webkit-transform: rotateY(-75.5deg);
}

.bottom1, .bottom2 {
  bottom: 0;
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}

.bottom1 {
  border-color: transparent transparent #FFF480 transparent;
  border-width: 7.5vh 7.5vh 30vh 7.5vh;
  transform: rotateX(-75.5deg);
  -webkit-transform: rotateX(-75.5deg);
}
.bottom1 .blur {
  background: linear-gradient(transparent 97%, #58B8FF);
  top: 0;
  left: -7.5vh;
}

.bottom2 {
  border-color: transparent transparent #58B8FF transparent;
  border-width: 7.5vh 7.5vh 30vh 7.5vh;
  transform: rotateX(75.5deg);
  -webkit-transform: rotateX(75.5deg);
}

.left1, .left2 {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

.left1 {
  border-color: transparent transparent transparent #9BCC4E;
  border-width: 7.5vh 7.5vh 7.5vh 30vh;
  transform: rotateY(-75.5deg);
  -webkit-transform: rotateY(-75.5deg);
}
.left1 .blur {
  background: linear-gradient(90deg, #FF5656, transparent 3%);
  top: -7.5vh;
  left: -30vh;
  height: 15vh;
  width: 30vh;
}

.left2 {
  border-color: transparent transparent transparent #FF5656;
  border-width: 7.5vh 7.5vh 7.5vh 30vh;
  transform: rotateY(75.5deg);
  -webkit-transform: rotateY(75.5deg);
}

.gradients > div {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30vh;
  width: 15vh;
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
}

.gradient1 {
  background-image: radial-gradient(50% 100% at 15% 55%, #ffffff 15%, rgba(0, 0, 0, 0) 25%), radial-gradient(100% 100% at 43% 63%, #ffffff 6%, rgba(0, 0, 0, 0) 13%);
  transform: rotateX(-75.5deg) rotateZ(15deg);
  -webkit-transform: rotateX(-75.5deg) rotateZ(15deg);
}

.gradient2 {
  background-image: radial-gradient(20% 100% at 10% 60%, #ffffff, rgba(0, 0, 0, 0) 30%);
  transform: rotateX(75.5deg) rotateZ(15deg);
  -webkit-transform: rotateX(75.5deg) rotateZ(15deg);
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: -999; /* Sit on top */
    left: 0;
    top: 0;
    opacity: 0;
    animation: colorchange 59s infinite;
    -webkit-animation: colorchange 59s infinite;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: white;
    font-family: "Roboto";
    font-weight: 700;
    width: 632px;
    margin: 0 auto;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay p-top {
    padding: 0px;
    text-decoration: none;
    font-size: 26px;
    color: white;
    font-family: "Old Standard TT";
    font-style: italic;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay p-bot {
    padding: 0px;
    text-decoration: none;
    font-size: 26px;
    color: white;
    font-family: "Old Standard TT";
    font-style: italic;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@keyframes float {
  from {
    transform: translateY(1.5vh);
    -webkit-transform: translateY(1.5vh);
  }
  to {
    transform: translateY(-1.5vh);
    -webkit-transform: translateY(-1.5vh);
  }
}
@keyframes spin {
  from {
    transform: rotateX(75deg) rotateZ(0deg);
    -webkit-transform: rotateX(75deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(75deg) rotateZ(1turn);
    -webkit-transform: rotateX(75deg) rotateZ(1turn);
  }
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translateY(1.5vh);
  }
  to {
    -webkit-transform: translateY(-1.5vh);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateX(75deg) rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateX(75deg) rotateZ(1turn);
  }
}

@keyframes colorchange
    {
      0%   {background: #ff5555;}
      25%  {background: #fff480;}
      50%  {background: #57b8ff;}
      75%  {background: #b3da80;}
      100% {background: #ff5555;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #ff5555;}
      25%  {background: #fff480;}
      50%  {background: #57b8ff;}
      75%  {background: #b3da80;}
      100% {background: #ff5555;}
    }
 @media (max-width: 650px) {
	 .overlay p {
		 width: 100%;
	 }
}
 @media screen and (max-device-width: 480px) and (orientation: portrait){
	.overlay-content {
		top: 10%;
		margin-top: 5px;
	 }
	 
	 .overlay p {
		font-size: 150px;
		width: 100%;
	 }
	 
	 .overlay p-top {
		font-size: 60px;
	 }
	 
	 .overlay p-bot {
		font-size: 50px;
	 }
 }
