html {
	box-sizing: border-box;
	display: block;
	height: 100%;
	width: 100%;
	
}

body {
	background-color: white;
	box-sizing: inherit;
	margin: 0 auto;
	font-family: 'proxima-nova';
	height: 100%;
	width: 100%;
}

.landing {
	width: 100%;
	z-index: 1000;
	min-height: 700px;
	height: 100%;
	background-color: blue;
	background: url('images/landingpageimg.png') no-repeat scroll center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	color: white;
}

.landing:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.biggercontainer {
	display: table;
	width: 100%;
	height: 90%;
}

@keyframes opacityScale {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	100% {
		transform: scale (1);
		opacity: 1;
	}
}

.container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	animation: 1s ease-out 0s 1 opacityScale;
}


h1 {
	margin: 0;
	font-weight: 300;
	color: white;
	line-height: 50px;
	text-align: center;
	letter-spacing: -0.001em;
}

h2 {
	font-weight: 200;
	font-size: 11px;
	letter-spacing: 0.3em;
	text-align: center;
}

h2 a{
	text-decoration: none;
	color: white;
	-o-transition:.3s ease;
	-ms-transition:.3s ease;
	-moz-transition:.3s ease;
	-webkit-transition:.3s ease;
	/* ...and now for the proper property */
	transition:.3s ease;
}

h2 a:hover {
	color: #fff039;
}

.logoimg {
	display: block;
	text-indent: -9999px;
	width: 50px;
	height: 50px;
	background: url(images/colorlogo.svg);
	background-size: 50px 50px;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

logostyle {
	font-weight: 600;
	letter-spacing: -2px;
}

logo {
	font-weight: 600;
	font-size: 25px;
	letter-spacing: -1.8px;
	color: white;
	line-height: 90px;
	margin-left: 10px;
	float: left;
}

#lilguy {
	color: white;
	font-weight: 200;
	font-size: 6px;
	letter-spacing: 0.3em;
	padding-top: 30px;
}

logo a {
	text-decoration: none;
	color: white;
}

#navbar {
	position: fixed;
	width: 100%;
	background-color: rgba(9, 20, 59, 0.25);
}

#navbar ul {
	list-style: none;
	float: right;
	margin-right: 80px;
}

#navbar li {
	list-style: none;
	float: left;
	margin-left: 80px;
	margin-top: -15px;
}

#navbar li a {
	text-decoration: none;
	color: white;
	font-weight: 200;
	font-size: 11px;
	letter-spacing: 0.3em;
	-o-transition:.3s ease;
	-ms-transition:.3s ease;
	-moz-transition:.3s ease;
	-webkit-transition:.3s ease;
	/* ...and now for the proper property */
	transition:.3s ease;
}

#navbar li a:hover {
	color: #fff039;
}

#downarrow {
	display: block;
	text-indent: -9999px;
	width: 20px;
	height: 30px;
	background: url(images/downarrow.svg);
	background-size: 20px 30px;
	margin: 0 auto;
}

#searchCentral {
	position: absolute;
	margin-top: 90px;
	width: 100%;
}

#currentCity {
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	margin-top: 15%;
}

.select-style {
    width: 38px;
    height: 38px;
    overflow: hidden;
    background: rgba(9, 20, 59, 0.25) url("images/downarrow.svg") no-repeat 95% 50%;
    font-family: 'proxima-nova';
    border-radius: 40px;
    margin: 20px auto;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    height: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-family: 'proxima-nova';
    font-size: 10px;
    padding-left: 50px;
}

.select-style:hover {
	
}

.select-style select:focus {
    outline: none;
}

table th, td {
	width: 165px;
	padding: 20px;
	border-right: 0.5px solid #1B307A;
	text-transform: capitalize;
	text-align: center;
}

table {
	padding: 0;
	border-spacing: 0px 10px;
	margin: 0 auto;
	color: white;
}

table a {
	color: white;
}

table th {
	margin: 0;
	text-transform: uppercase;
}

table th + th + th + th {
  border: none;
}

table td + td + td + td {
  border: none;
}

tr:nth-child(odd) {
    background-color: rgba(9, 20, 59, 0.25);
}
