/* General Styles */

* {
	font-family: 'Source Sans Pro', sans-serif;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	background: #ffffff;
	padding: 0;
	margin: 0;
}

header {
	display: block;
	position: relative;
	background-color: #4e2a84;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px 0px;
}

.wrapper::before{
	display: table;
	content: '';
	line-height: 0;
}
.wrapper::after{
	display: table;
	content: '';
	line-height: 0;
}

header #logo {
	display: inline-block;
	width: 300px;
	height: 95px;
	background-image: url("WE_WILL_logo_white.svg");
	margin: 30px 0px 30px 40px;
}

/* Content */

#content {
	display: block;
	position: relative;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
}

#content h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 3.0em;
	color: #4e2a84;
	padding: 0px 40px 0px 40px;
}

#content p {
	font-size: 1.4em;
	color: #444341;
	font-weight: 300;
	line-height: 1.5em;
	padding: 0px 40px 30px 40px;
}

/* Table */

#donorTable {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding: 5px;
  width: 95%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  margin-bottom: 40px;
}

th {
	color: white;
	background: #4e2a84;
	width: 33%;
	padding: 25px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	transition: background 0.3s;
}

th #sortArrow {
	display: none;
	background: transparent;
	float: right;
	position: relative;
	margin-top: 13px;
}

th.active {
	background: #361a60;
	padding-right: 19px;
}

#sortArrow.down {
	display: block;
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
}

#sortArrow.up {
	display: block;
	border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
}

th + th {
	font-size: 1.2em;
	width: 22%;
}

th:hover, th:active {
	background: #361a60;
}

td {
	color: #4e2a84;
	width: 33%;
	width: 33%;
	padding: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
}

td + td {
	font-size: 1.2em;
	width: 22%;
	color: #444341;
	font-weight: 400;
}

td + td + td + td {
	border-right: none;
}

tr{
	background-color: white;
}

tr:nth-child(odd){
    background-color: rgba(0,0,0,0.1);
}
